// vw mixin
@mixin vwFont($fontSize) {
    font-size: $fontSize * 1px;

    @media (max-width: 750px) and (orientation: portrait) {
        font-size: vw($fontSize);
    }
}

@mixin vwWidth($width) {
    min-width: $width * 1px;

    @media (max-width: 750px) and (orientation: portrait) {
        min-width: vw($width);
    }
}

@mixin vwHeight($height) {
    min-height: $height * 1px;

    @media (max-width: 750px) and (orientation: portrait) {
        min-height: vw($height);
    }
}

@mixin vwLineHeight($lineheight) {
    line-height: $lineheight * 1px;

    @media (max-width: 750px) and (orientation: portrait) {
        line-height: vw($lineheight);
    }
}

@mixin vwPadding($direction, $size) {
    padding-#{$direction}: $size*1px;

    @media (max-width: 750px) and (orientation: portrait) {
        padding-#{$direction}: vw($size);
    }
}

@mixin vwMargin($direction, $size) {
    margin-#{$direction}: $size*1px;

    @media (max-width: 750px) and (orientation: portrait) {
        margin-#{$direction}: vw($size);
    }
}