.mk-flex {
    display: flex;

    * {
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-all;
    }

    &.flex-direction-row {
        flex-direction: row; //d
    }

    &.flex-direction-row-reverse {
        flex-direction: row-reverse;
    }

    &.flex-direction-column {
        flex-direction: column;
    }

    &.flex-direction-column-reverse {
        flex-direction: column-reverse;
    }

    &.flex-wrap-nowrap {
        flex-wrap: nowrap; //d
    }

    &.flex-wrap-wrap {
        flex-wrap: wrap;
    }

    &.flex-wrap-wrap-reverse {
        flex-wrap: wrap-reverse;
    }

    &.justify-content-start {
        justify-content: flex-start; //d
    }

    &.justify-content-end {
        justify-content: flex-end;
    }

    &.justify-content-center {
        justify-content: center;
    }

    &.justify-content-space-between {
        justify-content: space-between;
    }

    &.justify-content-space-around {
        justify-content: space-around;
    }

    &.align-items-start {
        align-items: flex-start;
    }

    &.align-items-end {
        align-items: flex-end;
    }

    &.align-items-center {
        align-items: center;
    }

    &.align-items-baseline {
        align-items: baseline;
    }

    &.align-items-stretch {
        align-items: stretch; //d
    }

    &.align-content-start {
        align-content: flex-start;
    }

    &.align-content-end {
        align-content: flex-end;
    }

    &.align-content-center {
        align-content: center;
    }

    &.align-content-space-between {
        align-content: space-between;
    }

    &.align-content-space-around {
        align-content: space-around;
    }

    &.align-content-stretch {
        align-content: stretch;
    }

    @for $i from -1 through 10 {
        @if $i==-1 {
            .flex-order-100 {
                order: $i;
            }
        }

        @else {
            .flex-order-#{$i} {
                order: $i;
            }
        }
    }

    @for $i from 0 through 10 {
        .flex-grow-#{$i} {
            flex-grow: $i;
        }
    }

    @for $i from 0 through 1 {
        .flex-shrink-#{$i} {
            flex-shrink: $i;
        }
    }

    .align-self-start {
        align-self: flex-start;
    }

    .align-self-end {
        align-self: flex-end;
    }

    .align-self-center {
        align-self: center;
    }

    .align-self-baseline {
        align-self: baseline;
    }

    .align-self-stretch {
        align-self: stretch;
    }



}