.mk-flex {
    display: flex;
    display: -webkit-flex;

    &.flex-direction-row {
        flex-direction: row; //d
    }

    &.flex-direction-row-reverse {
        flex-direction: row-reverse;
    }

    &.flex-direction-column {
        flex-direction: column;
    }

    &.flex-direction-column-reverse {
        flex-direction: column-reverse;
    }

    &.flex-wrap-nowrap {
        flex-wrap: nowrap; //d
    }

    &.flex-wrap-wrap {
        flex-wrap: wrap;
    }

    &.flex-wrap-wrap-reverse {
        flex-wrap: wrap-reverse;
    }

    &.justify-content-start {
        justify-content: flex-start; //d
    }

    &.justify-content-end {
        justify-content: flex-end;
    }

    &.justify-content-center {
        justify-content: center;
    }

    &.justify-content-space-between {
        justify-content: space-between;
    }

    &.justify-content-space-around {
        justify-content: space-around;
    }

    &.align-items-start {
        align-items: flex-start;
    }

    &.align-items-end {
        align-items: flex-end;
    }

    &.align-items-center {
        align-items: center;
    }

    &.align-items-baseline {
        align-items: baseline;
    }

    &.align-items-stretch {
        align-items: stretch; //d
    }
}