// Reset the box-sizing
* {
    @include box-sizing(border-box);
    -webkit-font-smoothing: antialiased;
    transform: perspective(1px) scale(1);
}

*:before,
*:after {
    @include box-sizing(border-box);
}

// Body reset

html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    @include vwFont($font-size-base);
}

// // Reset fonts for relevant elements
input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}


.block {
    @include vwPadding('left', 15);
    @include vwPadding('right', 15);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: $font-weight;
}