//base 
$vw_base: 375;

// Color system
$color-white: #fff !default;
$color-default:#767676 !default;
$color-primary: #337ab7 !default;
$color-success: #5cb85c !default;
$color-info: #46b8da !default;
$color-warning: #f0ad4e !default;
$color-danger: #d9534f !default;

//## Font
$font-size-base: 14 !default;

//## navbar 
$navbar-height: 44 !default;
$navbar-title-font-size: $font-size-base+2 !default;