@font-face {
  font-family: "iconfont";
  src: url('./font/iconfont.woff?t=1554864160015') format('woff'),
    /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url('./font/iconfont.svg?t=1554864160015#iconfont') format('svg');
  /* iOS 4.1- */
}

.iconfont {
  @include vwFont(16);
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon_add:before {
  content: "\eb8f";
}

.icon-icon_addperson:before {
  content: "\eb90";
}

.icon-icon_alipay_line:before {
  content: "\eb91";
}

.icon-icon_at:before {
  content: "\eb92";
}

.icon-icon_airplay:before {
  content: "\eb93";
}

.icon-icon_calendar:before {
  content: "\eb94";
}

.icon-icon_attestation:before {
  content: "\eb95";
}

.icon-icon_camera:before {
  content: "\eb96";
}

.icon-icon_coinpurse_line:before {
  content: "\eb97";
}

.icon-icon_collect:before {
  content: "\eb98";
}

.icon-icon_compile:before {
  content: "\eb99";
}

.icon-icon_details:before {
  content: "\eb9a";
}

.icon-icon_cloud_history:before {
  content: "\eb9b";
}

.icon-icon_discovery:before {
  content: "\eb9c";
}

.icon-icon_delete:before {
  content: "\eb9d";
}

.icon-icon_dispose:before {
  content: "\eb9e";
}

.icon-icon_doc:before {
  content: "\eb9f";
}

.icon-icon_exchange:before {
  content: "\eba0";
}

.icon-icon_ding:before {
  content: "\eba1";
}

.icon-icon_down:before {
  content: "\eba2";
}

.icon-icon_gift:before {
  content: "\eba3";
}

.icon-icon_glass:before {
  content: "\eba4";
}

.icon-icon_file:before {
  content: "\eba5";
}

.icon-icon_GPS:before {
  content: "\eba6";
}

.icon-icon_im_more:before {
  content: "\eba7";
}

.icon-icon_group:before {
  content: "\eba8";
}

.icon-icon_horn:before {
  content: "\eba9";
}

.icon-icon_likegood:before {
  content: "\ebaa";
}

.icon-icon_index_line:before {
  content: "\ebab";
}

.icon-icon_live:before {
  content: "\ebac";
}

.icon-icon_link:before {
  content: "\ebad";
}

.icon-icon_im_voice:before {
  content: "\ebae";
}

.icon-icon_mobilephone:before {
  content: "\ebaf";
}

.icon-icon_dmail:before {
  content: "\ebb0";
}

.icon-icon_more:before {
  content: "\ebb1";
}

.icon-icon_left:before {
  content: "\ebb2";
}

.icon-icon_next_arrow:before {
  content: "\ebb3";
}

.icon-icon_phone:before {
  content: "\ebb4";
}

.icon-icon_patriarch:before {
  content: "\ebb5";
}

.icon-icon_roundclose:before {
  content: "\ebb6";
}

.icon-icon_QRcode:before {
  content: "\ebb7";
}

.icon-icon_roundadd:before {
  content: "\ebb8";
}

.icon-icon_refresh:before {
  content: "\ebb9";
}

.icon-icon_search:before {
  content: "\ebba";
}

.icon-icon_send:before {
  content: "\ebbb";
}

.icon-icon_share:before {
  content: "\ebbc";
}

.icon-icon_signin_line:before {
  content: "\ebbd";
}

.icon-icon_setting:before {
  content: "\ebbe";
}

.icon-icon_signal:before {
  content: "\ebbf";
}

.icon-icon_threeline_fill:before {
  content: "\ebc0";
}

.icon-icon_wechat:before {
  content: "\ebc1";
}

.icon-icon_work:before {
  content: "\ebc2";
}

.icon-icon_warn:before {
  content: "\ebc3";
}

.icon-icon_workmore:before {
  content: "\ebc4";
}

.icon-icon_workset:before {
  content: "\ebc5";
}